

<footer class="footer">
    <div class="container py-2">
        <div class="row pt-1">
            <div class="col-12 col-lg-4 mb-5 text-center text-lg-start">
                <img src="https://www.naturdatavardskap.lu.se/sites/naturdatavardskap.lu.se/files/Lunds_universitet_C2r_NEG-22.svg" alt="Lunds universitet" class=" footer-logo">

            </div>
            <div class="col-6 col-md-3 offset-md-3 offset-lg-0 col-lg-4 mb-5">
            	<h6 class="p font-weight-bold  mb-3"><b>Adressser</b></h6>
	            <div style="float:left; padding-right:10px;">
	                <h6 class="p font-weight-bold text-uppercase mb-1">Besökadress</h6>
	                <p><b>Ekologihuset</b><br>Sölvegatan 37<br>223 62 Lund<br></p>

				</div>
			    <div style="float:left; padding-right:10px;">
	                <h6 class="p font-weight-bold text-uppercase mb-1">LEVERANSADRESS</h6>
	                <p><b>Ekologihuset</b><br>Naturvetarvägen 6A<br>223 62 Lund<br></p>
	            </div>
            </div>
            <div class="col-6 col-md-3 col-lg-4 mb-5">
                <h6 class="p font-weight-bold  mb-1"><b>Information om naturdatavardskap.lu.se</b></h6>
                <div class="nav nav-list flex-column">
                    <a class="nav-link text-white py-1 px-0" href="https://www.naturdatavardskap.lu.se/om-webbplatsen">Om webbplatsen</a>
                    <a class="nav-link text-white py-1 px-0" href="https://www.naturdatavardskap.lu.se/tillganglighetsredogorelse">Tillgänglighetsredogörelse</a>
                </div>
            </div>
        </div>
        <!--
        <div class="row mb-5">
            <div class="col-12 col-lg-4 offset-lg-4">
                <h6 class="p font-weight-bold text-uppercase mb-1 text-center text-lg-start">Följ oss i sociala medier</h6>
                <ul class="nav nav-social mt-3 nmx-2 justify-content-center justify-content-lg-start">
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white p-0" href="https://www.facebook.com/ekonomihogskolan.lund/"><span class="visually-hidden">Facebook </span><i class="fab fa-facebook-square  fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white p-0" href="https://www.instagram.com/lunduniversity/"><span class="visually-hidden">Instagram </span><i class="fab fa-instagram  fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white p-0" href="https://www.linkedin.com/school/lund-university-school-of-economics-and-management/"><span class="visually-hidden">LinkedIn </span><i class="fab fa-linkedin  fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white p-0" href="https://twitter.com/Lunduni_LUSEM"><span class="visually-hidden">Twitter </span><i class="fab fa-twitter-square  fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white p-0" href="https://www.youtube.com/user/LUSEMLund"><span class="visually-hidden">Youtube </span><i class="fab fa-youtube-square  fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        -->
    </div>
</footer>

