

<div class="modal fade" id="nav-mobile" tabindex="-1" role="dialog" aria-labelledby="nav-mobile-label" aria-hidden="true">
    <div class="modal-dialog my-0 mx-auto" role="document">
        <div class="modal-content border-0 rounded-0">
            <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                <div id="nav-mobile-label" class="h3 m-0">
                    <span class="sr-only">Institution</span>
                </div>
                <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile" aria-expanded="false" aria-label="Dölj meny">
                    <span aria-hidden="true"><i class="fa-regular fa-times fa-lg"></i></span>
                </button>
            </nav>
            <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="https://www.naturdatavardskap.lu.se/start" class="nav-link">Start</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="https://www.naturdatavardskap.lu.se/datamangder" class="nav-link">Datamängder</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="https://www.naturdatavardskap.lu.se/tillgang-till-data" class="nav-link">Tillgång till data</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="https://www.naturdatavardskap.lu.se/leverera-data" class="nav-link">Levera data</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="https://www.naturdatavardskap.lu.se/om-oss" class="nav-link">Om oss</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>


<header class="header nav-undecorated">
    <div class="bg-dark d-none d-lg-block">
        <div class="container-fluid mw-xl py-0">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark font-size-sm p-0 text-white">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div><a class="nav-link pl-0" href="https://www.lu.se/">Till Lunds Universitet</a></div>
                    <div><a class="nav-link pl-0" href="https://www.biologi.lu.se/">Biologiska institutionen</a></div>
                    <!--
                    <ul class="navbar-nav flex-row ml-auto">
                        <li class="nav-item">
                            <a class="nav-link px-3" href="../../#.html">
                                Bibliotek
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-hover">
                            <a class="nav-link dropdown-toggle px-3" href="../../#.html" id="sm-lu-fakulteter" aria-haspopup="true">
                                Fakulteter &nbsp;<i class="fa-regular fa-chevron-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right text-primary" aria-labelledby="sm-lu-fakulteter">
                                <a class="dropdown-item" href="../../#.html">Campus Helsingborg</a>
                                <a class="dropdown-item" href="../../#.html">Ekonomihögskolan</a>
                                <a class="dropdown-item" href="../../#.html">Humaniora och teologi</a>
                                <a class="dropdown-item" href="../../#.html">Juridiska fakulteten</a>
                                <a class="dropdown-item" href="../../#.html">Konstnärliga fakulteten i Malmö</a>
                                <a class="dropdown-item" href="../../#.html">LTH | Lunds tekniska högskola</a>
                                <a class="dropdown-item" href="../../#.html">Medicinska fakulteten</a>
                                <a class="dropdown-item" href="../../#.html">Naturvetenskapliga fakulteten</a>
                                <a class="dropdown-item" href="../../#.html">Samhällsvetenskapliga fakulteten</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="../../#.html">
                                Info för
                            </a>
                        </li>
                    </ul>
                    -->
                    <ul class="navbar-nav flex-row ml-5">
                        
                        <!--
                        <li class="nav-item">
                            <a href="#" onclick="toggleBar();" title="Aktivera Talande Webb" class="logo" id="bapluslogo" data-bapdf="372">
                                <i class="fa-regular fa-volume"></i>
                                Lyssna
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="../../#.html">
                                <i class="fa-regular fa-globe"></i>
                                English
                            </a>
                        </li>
                        -->
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid mw-xl">
        <div class="row m-0 py-3 py-lg-5">
            <div class="col p-0">
                <div class="d-flex justify-content-between align-items-center h-100 text-primary">
                    <div class="title-with-sub">
                        <h1 class="">Datavärdskap Naturdata: Fåglar och fjärilar</h1>

                        <div>Biologiska institutionen | Lunds universitet</div>
                    </div>
                    <div class="header-logo header-logo-institution  header-logo-lu flex-grow-1 flex-lg-grow-0 d-none d-xl-block">
                        <a href="#" title="Lunds Tekniska Högskola | Lunds universitet" class="d-block">
                            <img src="logo/logo_lu_small@1x.png" srcset="logo/logo_lu_small@1x.png 1x, logo/logo_lu_small@2x.png 2x" alt="Lunds universitet" class=" mw-100">

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="d-none d-xl-block font-size-xl-lg font-weight-light bg-plaster-50">
            <div class="mw-xl d-flex container-fluid justify-content-between align-items-center">
                <ul class="nav nav-header-main">
                    <li class="nav-item  active">
                        <a href="https://www.naturdatavardskap.lu.se/start" target="_blank" class="nav-link text-nowrap  active" aria-haspopup="true">Start</a>
                    </li>
                    <li class="nav-item  ">
                        <a href="https://www.naturdatavardskap.lu.se/datamangder" target="_blank" class="nav-link text-nowrap  "  aria-haspopup="true">Datamängder</a>
                    </li>
                    <li class="nav-item  ">
                        <a href="https://www.naturdatavardskap.lu.se/tillgang-till-data" target="_blank" class="nav-link text-nowrap  "  aria-haspopup="true">Tillgång till data</a>
                    </li>
                    <li class="nav-item  ">
                        <a href="https://www.naturdatavardskap.lu.se/leverera-data" target="_blank" class="nav-link text-nowrap  "  aria-haspopup="true">Leverera data</a>
                    </li>
                    <li class="nav-item  ">
                        <a href="https://www.naturdatavardskap.lu.se/om-oss" target="_blank" class="nav-link text-nowrap  "  aria-haspopup="true">Om oss</a>
                    </li>
                </ul>
                <!--<form class="flex-xl-grow-1 header-search-container--institution">
                    <div class="input-group input-group-round input-group-sm w-100 flex">
                        <input type="search" class="form-control form-control-sm border-right-0" role="search" aria-label="Sök" id="header-search-field">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-2" type="submit">
                                <span class="mr-2">Sök</span>
                                <i class="fa-regular fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>-->
            </div>
        </div>

    </nav>

    <div class="modal fade" id="nav-mobile--start" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--start-label" aria-hidden="true">
        <div class="modal-dialog my-0 mx-auto" role="document">
            <div class="modal-content border-0 rounded-0">
                <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                    <div id="nav-mobile--start-label" class="h3 m-0">
                        <span class="sr-only"></span>
                    </div>
                    <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile--start" aria-expanded="false" aria-label="Dölj meny">
                        <span aria-hidden="true"><i class="fa-regular fa-times fa-lg"></i></span>
                    </button>
                </nav>
                <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <a href="https://www.naturdatavardskap.lu.se/start" class="nav-link">Start <span class="ml-1"><i class="fa-regular fa-chevron-circle-right  fa-sm"></i>
                                </span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nav-mobile--datasets" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--datasets-label" aria-hidden="true">
        <div class="modal-dialog my-0 mx-auto" role="document">
            <div class="modal-content border-0 rounded-0">
                <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                    <div id="nav-mobile--datasets-label" class="h3 m-0">
                        <span class="sr-only"></span>
                    </div>
                    <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile--datasets" aria-expanded="false" aria-label="Dölj meny">
                        <span aria-hidden="true"><i class="fa-regular fa-times fa-lg"></i></span>
                    </button>
                </nav>
                <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <a href="https://www.naturdatavardskap.lu.se/datamangder" class="nav-link">Datamängder <span class="ml-1"><i class="fa-regular fa-chevron-circle-right  fa-sm"></i>
                                </span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nav-mobile--accessdata" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--accessdata-label" aria-hidden="true">
        <div class="modal-dialog my-0 mx-auto" role="document">
            <div class="modal-content border-0 rounded-0">
                <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                    <div id="nav-mobile--accessdata-label" class="h3 m-0">
                        <span class="sr-only"></span>
                    </div>
                    <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile--accessdata" aria-expanded="false" aria-label="Dölj meny">
                        <span aria-hidden="true"><i class="fa-regular fa-times fa-lg"></i></span>
                    </button>
                </nav>
                <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <a href="https://www.naturdatavardskap.lu.se/tillgang-till-data" class="nav-link">Tillgång till data <span class="ml-1"><i class="fa-regular fa-chevron-circle-right  fa-sm"></i>
                                </span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nav-mobile--aboutus" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--aboutus-label" aria-hidden="true">
        <div class="modal-dialog my-0 mx-auto" role="document">
            <div class="modal-content border-0 rounded-0">
                <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                    <div id="nav-mobile--aboutus-label" class="h3 m-0">
                        <span class="sr-only"></span>
                    </div>
                    <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile--aboutus" aria-expanded="false" aria-label="Dölj meny">
                        <span aria-hidden="true"><i class="fa-regular fa-times fa-lg"></i></span>
                    </button>
                </nav>
                <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <a href="https://www.naturdatavardskap.lu.se/om-oss" class="nav-link">Om oss <span class="ml-1"><i class="fa-regular fa-chevron-circle-right  fa-sm"></i>
                                </span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nav-mobile--deliverdata" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--deliverdata-label" aria-hidden="true">
        <div class="modal-dialog my-0 mx-auto" role="document">
            <div class="modal-content border-0 rounded-0">
                <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                    <div id="nav-mobile--deliverdata-label" class="h3 m-0">
                        <span class="sr-only"></span>
                    </div>
                    <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile--deliverdata" aria-expanded="false" aria-label="Dölj meny">
                        <span aria-hidden="true"><i class="fa-regular fa-times fa-lg"></i></span>
                    </button>
                </nav>
                <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <a href="https://www.naturdatavardskap.lu.se/leverera-data" class="nav-link">Levera data <span class="ml-1"><i class="fa-regular fa-chevron-circle-right  fa-sm"></i>
                                </span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>


    <div class="mobile-nav-bar font-size-sm font-size-sm-base d-xl-none">
        <nav class="nav ml-2 flex-grow-1">
            <div class="nav-item  active"><a href="https://www.naturdatavardskap.lu.se/start" class="nav-link px-2" data-toggle="modal" aria-controls="nav-mobile--start" aria-expanded="false" aria-label="Visa meny">Start</a></div>
            <div class="nav-item "><a href="https://www.naturdatavardskap.lu.se/datamangder" class="nav-link px-2" data-toggle="modal" aria-controls="nav-mobile--datasets" aria-expanded="false" aria-label="Visa meny">Datamängder</a></div>
            <div class="nav-item "><a href="https://www.naturdatavardskap.lu.se/tillgang-till-data" class="nav-link px-2" data-toggle="modal" aria-controls="nav-mobile--accessdata" aria-expanded="false" aria-label="Visa meny">Tillgång till data</a></div>
            <div class="nav-item "><a href="https://www.naturdatavardskap.lu.se/leverera-data" class="nav-link px-2" data-toggle="modal" aria-controls="nav-mobile--deliverdata" aria-expanded="false" aria-label="Visa meny">Levera data</a></div>
            <div class="nav-item "><a href="https://www.naturdatavardskap.lu.se/om-oss" class="nav-link px-2" data-toggle="modal" aria-controls="nav-mobile--aboutus" aria-expanded="false" aria-label="Visa meny">Om oss</a></div>
        </nav>
        <nav class="nav">
            <div class="nav-item">
                <a class="nav-link" href="#nav-mobile" data-toggle="modal" aria-controls="nav-mobile" aria-expanded="false" aria-label="Visa meny"><i class="fa-regular fa-bars"></i> Mer</a>
            </div>
        </nav>
    </div>

  <script src="js/bootstrap_menu.js" defer></script>

</header>
