

<div class="modal fade" id="nav-mobile" tabindex="-1" role="dialog" aria-labelledby="nav-mobile-label" aria-hidden="true">
    <div class="modal-dialog my-0 mx-auto" role="document">
        <div class="modal-content border-0 rounded-0">
            <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                <div id="nav-mobile-label" class="h3 m-0">
                    <span class="sr-only">Institution</span>
                </div>
                <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile" aria-expanded="false" aria-label="Dölj meny">
                    <span aria-hidden="true"><i class="fal fa-times fa-lg"></i></span>
                </button>
            </nav>
            <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="#" class="nav-link">Om</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="#" class="nav-link">Undervisning</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="#" class="nav-link">Forskning</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="#" class="nav-link">Kontakt</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="#" class="nav-link">Bibliotek</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="#" class="nav-link">Fakulteter</a>
                        <a href="#sm-lu-fakulteter" class="mobile-nav-toggle collapsed" data-target="#sm-lu-fakultetercollapsed" data-toggle="collapse" aria-expanded="false" aria-controls="sm-lu-fakulteter">

                            <span class="collapse-show">
                                <i class="fal fa-plus-circle"></i>
                            </span>
                            <span class="collapse-hide">
                                <i class="fal fa-minus-circle"></i>
                            </span>

                        </a>
                    </div>
                    <ul class="mobile-nav collapse" id="sm-lu-fakultetercollapsed">
                        <li class="mobile-nav-item">
                            <div class="mobile-nav-container">
                                <a href="#" class="nav-link">Campus Helsingborg</a>
                            </div>
                        </li>

                        <li class="mobile-nav-item">
                            <div class="mobile-nav-container">
                                <a href="#" class="nav-link">Ekonomihögskolan</a>
                            </div>
                        </li>

                        <li class="mobile-nav-item">
                            <div class="mobile-nav-container">
                                <a href="#" class="nav-link">Humaniora och teologi</a>
                            </div>
                        </li>

                        <li class="mobile-nav-item">
                            <div class="mobile-nav-container">
                                <a href="#" class="nav-link">Juridiska fakulteten</a>
                            </div>
                        </li>

                        <li class="mobile-nav-item">
                            <div class="mobile-nav-container">
                                <a href="#" class="nav-link">Konstnärliga fakulteten i Malmö</a>
                            </div>
                        </li>

                        <li class="mobile-nav-item">
                            <div class="mobile-nav-container">
                                <a href="#" class="nav-link">LTH | Lunds tekniska högskola</a>
                            </div>
                        </li>

                        <li class="mobile-nav-item">
                            <div class="mobile-nav-container">
                                <a href="#" class="nav-link">Medicinska fakulteten</a>
                            </div>
                        </li>

                        <li class="mobile-nav-item">
                            <div class="mobile-nav-container">
                                <a href="#" class="nav-link">Naturvetenskapliga fakulteten</a>
                            </div>
                        </li>

                        <li class="mobile-nav-item">
                            <div class="mobile-nav-container">
                                <a href="#" class="nav-link">Samhällsvetenskapliga fakulteten</a>
                            </div>
                        </li>

                    </ul>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="#" class="nav-link">Info för</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="#" class="nav-link">Lyssna</a>
                    </div>
                </li>

                <li class="mobile-nav-item">
                    <div class="mobile-nav-container">
                        <a href="#" class="nav-link">English</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>

<header class="header nav-undecorated">
    <div class="bg-dark d-none d-lg-block">
        <div class="container-fluid mw-xl py-0">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark font-size-sm p-0 text-white">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div><a class="nav-link pl-0" href="https://www.lu.se/">Till Lunds Universitet</a></div>
                    <ul class="navbar-nav flex-row ml-auto">
                        <li class="nav-item">
                            <a class="nav-link px-3" href="../../#.html">
                                Bibliotek
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-hover">
                            <a class="nav-link dropdown-toggle px-3" href="../../#.html" id="sm-lu-fakulteter" aria-haspopup="true">
                                Fakulteter &nbsp;<i class="fal fa-chevron-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right text-primary" aria-labelledby="sm-lu-fakulteter">
                                <a class="dropdown-item" href="../../#.html">Campus Helsingborg</a>
                                <a class="dropdown-item" href="../../#.html">Ekonomihögskolan</a>
                                <a class="dropdown-item" href="../../#.html">Humaniora och teologi</a>
                                <a class="dropdown-item" href="../../#.html">Juridiska fakulteten</a>
                                <a class="dropdown-item" href="../../#.html">Konstnärliga fakulteten i Malmö</a>
                                <a class="dropdown-item" href="../../#.html">LTH | Lunds tekniska högskola</a>
                                <a class="dropdown-item" href="../../#.html">Medicinska fakulteten</a>
                                <a class="dropdown-item" href="../../#.html">Naturvetenskapliga fakulteten</a>
                                <a class="dropdown-item" href="../../#.html">Samhällsvetenskapliga fakulteten</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="../../#.html">
                                Info för
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-row ml-5">
                        <li class="nav-item">
                            <a class="nav-link px-3" href="../../#.html">
                                <i class="fal fa-volume"></i>
                                Lyssna
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="../../#.html">
                                <i class="fal fa-globe"></i>
                                English
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="container-fluid mw-xl">
        <div class="row m-0 py-3 py-lg-5">
            <div class="col p-0">
                <div class="d-flex justify-content-between align-items-center h-100 text-primary">
                    <div class="title-with-sub">
                        <h1 class="">Datavärdskap Naturdata: Fåglar och fjärilar</h1>

                        <div>Biologiska institutionen | Lunds universitet</div>
                    </div>
                    <div class="header-logo header-logo-institution  header-logo-lu flex-grow-1 flex-lg-grow-0 d-none d-xl-block">
                        <a href="#" title="Lunds Tekniska Högskola | Lunds universitet" class="d-block">
                            <img src="https://styleguide.lu.se/images/logo/logo_lu_small@1x.png" srcset="https://styleguide.lu.se/images/logo/logo_lu_small@1x.png 1x, https://styleguide.lu.se/images/logo/logo_lu_small@2x.png 2x" alt="Lunds Tekniska Högskola | Lunds universitet" class=" mw-100">

                        </a>
                    </div>
                    <div class="flex-shrink-1 flex-lg-shrink-0 flex-grow-0 d-flex d-xl-none flex-column justify-content-between h-100 mh-120">
                        <div class="h-lg-auto flex-column justify-content-between align-items-end font-size-sm font-size-sm-base flex-grow-0">
                            <nav class="nav text-center h-100 h-lg-auto align-items-center d-lg-none flex-nowrap">
                                <div class="nav-item">
                                    <a class="ml-2 p-1 d-block nav-undecorated" href="#header-search-form" data-toggle="collapse" aria-controls="header-search-form" aria-expanded="false" aria-label="Visa och dölj sökfölt">
                                        <i class="fal fa-search"></i><br>Sök </a>
                                </div>
                                <div class="nav-item">
                                    <a class="ml-2 p-1 d-block nav-undecorated" href="#english">
                                        <i class="fal fa-globe"></i><br>English </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="d-none d-xl-block font-size-xl-lg font-weight-light bg-plaster-50">
            <div class="mw-xl d-flex container-fluid justify-content-between align-items-center ">
                <ul class="nav nav-header-main">
                    <li class="nav-item  active">
                        <a href="om.html" class="nav-link text-nowrap  active" id="dropdown-om" aria-haspopup="true">Om</a>
                    </li>
                    <li class="nav-item  ">
                        <a href="undervisning.html" class="nav-link text-nowrap  " id="dropdown-undervisning" aria-haspopup="true">Undervisning</a>
                    </li>
                    <li class="nav-item  ">
                        <a href="forskning.html" class="nav-link text-nowrap  " id="dropdown-forskning" aria-haspopup="true">Forskning</a>
                    </li>
                    <li class="nav-item  ">
                        <a href="kontakt.html" class="nav-link text-nowrap  " id="dropdown-kontakt" aria-haspopup="true">Kontakt</a>
                    </li>
                </ul>
                <form class="flex-xl-grow-1 header-search-container--institution">
                    <div class="input-group input-group-round input-group-sm w-100 flex">
                        <input type="search" class="form-control form-control-sm border-right-0" role="search" aria-label="Sök" id="header-search-field">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-2" type="submit">
                                <span class="mr-2">Sök</span>
                                <i class="fal fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </nav>

    <div class="modal fade" id="nav-mobile--om" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--om-label" aria-hidden="true">
        <div class="modal-dialog my-0 mx-auto" role="document">
            <div class="modal-content border-0 rounded-0">
                <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                    <div id="nav-mobile--om-label" class="h3 m-0">
                        <span class="sr-only"></span>
                    </div>
                    <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile--om" aria-expanded="false" aria-label="Dölj meny">
                        <span aria-hidden="true"><i class="fal fa-times fa-lg"></i></span>
                    </button>
                </nav>
                <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <a href="#" class="nav-link">Om <span class="ml-1"><i class="fal fa-chevron-circle-right  fa-sm"></i>
                                </span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nav-mobile--undervisning" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--undervisning-label" aria-hidden="true">
        <div class="modal-dialog my-0 mx-auto" role="document">
            <div class="modal-content border-0 rounded-0">
                <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                    <div id="nav-mobile--undervisning-label" class="h3 m-0">
                        <span class="sr-only"></span>
                    </div>
                    <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile--undervisning" aria-expanded="false" aria-label="Dölj meny">
                        <span aria-hidden="true"><i class="fal fa-times fa-lg"></i></span>
                    </button>
                </nav>
                <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <a href="#" class="nav-link">Undervisning <span class="ml-1"><i class="fal fa-chevron-circle-right  fa-sm"></i>
                                </span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nav-mobile--forskning" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--forskning-label" aria-hidden="true">
        <div class="modal-dialog my-0 mx-auto" role="document">
            <div class="modal-content border-0 rounded-0">
                <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                    <div id="nav-mobile--forskning-label" class="h3 m-0">
                        <span class="sr-only"></span>
                    </div>
                    <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile--forskning" aria-expanded="false" aria-label="Dölj meny">
                        <span aria-hidden="true"><i class="fal fa-times fa-lg"></i></span>
                    </button>
                </nav>
                <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <a href="#" class="nav-link">Forskning <span class="ml-1"><i class="fal fa-chevron-circle-right  fa-sm"></i>
                                </span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nav-mobile--kontakt" tabindex="-1" role="dialog" aria-labelledby="nav-mobile--kontakt-label" aria-hidden="true">
        <div class="modal-dialog my-0 mx-auto" role="document">
            <div class="modal-content border-0 rounded-0">
                <nav class="nav border-bottom p-3 flex-row justify-content-between align-items-center sticky-top bg-white">
                    <div id="nav-mobile--kontakt-label" class="h3 m-0">
                        <span class="sr-only"></span>
                    </div>
                    <button type="button" class="border-0 bg-transparent cursor-pointer lh-0 p-2 nm-2" data-dismiss="modal" aria-controls="nav-mobile--kontakt" aria-expanded="false" aria-label="Dölj meny">
                        <span aria-hidden="true"><i class="fal fa-times fa-lg"></i></span>
                    </button>
                </nav>
                <ul class="mobile-nav mobile-nav-root border-0 nav-collapse font-size-sm nav-undecorated">
                    <li class="mobile-nav-item">
                        <div class="mobile-nav-container">
                            <a href="#" class="nav-link">Kontakt <span class="ml-1"><i class="fal fa-chevron-circle-right  fa-sm"></i>
                                </span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="mobile-nav-bar font-size-sm font-size-sm-base d-xl-none">
        <nav class="nav ml-2 flex-grow-1">
            <div class="nav-item  active"><a href="#nav-mobile--om" class="nav-link px-2" data-toggle="modal" aria-controls="nav-mobile--om" aria-expanded="false" aria-label="Visa meny">Om</a></div>
            <div class="nav-item "><a href="#nav-mobile--undervisning" class="nav-link px-2" data-toggle="modal" aria-controls="nav-mobile--undervisning" aria-expanded="false" aria-label="Visa meny">Undervisning</a></div>
            <div class="nav-item "><a href="#nav-mobile--forskning" class="nav-link px-2" data-toggle="modal" aria-controls="nav-mobile--forskning" aria-expanded="false" aria-label="Visa meny">Forskning</a></div>
            <div class="nav-item "><a href="#nav-mobile--kontakt" class="nav-link px-2" data-toggle="modal" aria-controls="nav-mobile--kontakt" aria-expanded="false" aria-label="Visa meny">Kontakt</a></div>
        </nav>
        <nav class="nav">
            <div class="nav-item">
                <a class="nav-link" href="#nav-mobile" data-toggle="modal" aria-controls="nav-mobile" aria-expanded="false" aria-label="Visa meny"><i class="fal fa-bars"></i> Mer</a>
            </div>
        </nav>
    </div>

    <!--
    <div role="search" class="header-search-form collapse collapse-lg pb-2 px-2" id="header-search-form">
        <form class="form-inline px-lg-3">
            <div class="input-group input-group-round input-group-sm w-100 flex">
                <input type="search" aria-label="Sök på webbplatsen" role="search" class="form-control form-control-sm border-right-0" id="header-search-field-mobile">
                <div class="input-group-append">
                    <button class="btn btn-primary px-2" type="submit">
                        <span class="mr-2">Sök</span>
                        <i class="fal fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    -->
</header>

