
body { 
	font-family: 'Hind';
}

main { padding-top:50px; }


h3 { 
	font-family: Georgia, Times, Times New Roman, serif; 
}

#map { 
	height: 480px; 
}

.all-none-button {
	cursor:pointer;
	text-decoration:underline;
}


.form-clear-data {
	text-align: right;
}

.form-clear-data label {
	cursor:pointer;
}



.disabledsection {
    pointer-events: none;
    opacity: 0.4;
}

.helpText{
	font-style:italic;
}

.helpTextHidden{
	font-style:italic;
	display:none;
}

.textSpace {
	padding-bottom: 5px;
}

/* MISSING FROM STYLEGUIDE.LU.SE ?? */
.mw-xl {
	max-width: 1320px;
	margin-left: auto;
	margin-right: auto;
}
.nav-link{
	padding: .5rem 1rem;
}