
body { 
	font-family: 'Hind';
}

main { padding-top:50px; }


h3 { 
	font-family: Georgia, Times, Times New Roman, serif; 
}



.all-none-button {
	cursor:pointer;
	text-decoration:underline;
}


.form-clear-data {
	text-align: right;
}

.form-clear-data label {
	cursor:pointer;
}



.disabledsection {
    pointer-events: none;
    opacity: 0.4;
}

.helpText{
	font-style:italic;
}

.helpTextHidden{
	font-style:italic;
	display:none;
}