<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://styleguide.lu.se/styles/main.css">
  <link href="@fortawesome/fontawesome-free/css/fontawesome.css" rel="stylesheet">
  <link href="@fortawesome/fontawesome-free/css/brands.css" rel="stylesheet">
  <link href="@fortawesome/fontawesome-free/css/solid.css" rel="stylesheet">

</head>
<body class="container">


<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Welcome to templating using EJS</p>
    </div>
  </div>

FA
<i class="fa-solid fa-calendar"></i>
  <i class="fa-solid fa-user"></i>
  <!-- uses solid style -->
  <i class="fa-brands fa-github-square"></i>
  <!-- uses brand style -->
FINFA


  <div class="col-sm-4">
    <div class="well">
      <h3>Look I'm A Sidebar!</h3>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>
